:root {

    --my-white: white;
    --menu-blue: #4690db;
    --my-grey: #c5c5c5;
    --checkbox-hover: #1975d2;
    --my-black: #202020;
    --checkmark-hover: #ccc;
    --my-checkmark: #e0e0e0;
    --my-select: #e4e4e4;
    --my-shadow: rgba(0, 0, 0, 0.15);
    --my-shadow2: rgba(0, 0, 0, 0.15);
    --button-blue: #4690db;
    --button-blue2: #90caf9;
    --button-blue3: #62b8ff;
    --my-tooltip: #202020;
    --my-tooltip-back: #c5c5c5;
    
    --color-scheme: light;
    --my-grant-link: #aa47bc;
    --my-grant: #000000;
  }
  
  .dark {
    --my-grant: #90caf9;
    --my-grant-link: #aa47bc;

    --my-white: #424242;
    --menu-blue: #90caf9;
    --my-grey: #999999;
    --checkbox-hover: #4892cf;
    --my-black: #202020;
    --checkmark-hover: #4892cf;
    --my-checkmark: #90caf9;
    --my-select: #90caf9;
    --my-shadow: rgba(144, 202, 249, 0.31);
    --my-shadow2: rgba(144, 202, 249, 0.55);
  
    --button-blue: #0280fd;
    --button-blue2: #2375c6;
    --button-blue3: #229cff;
    --my-tooltip: #90caf9;
    --color-scheme: dark;
    --my-tooltip-back: #424242;
  }
  
 .commonContainer {
    background-color: var(--my-white);
    box-shadow: var(--my-shadow) 0px 0px 10px 1px;
    overflow: auto;
    position: relative;
    padding: 10px;
    transition: 0.4s ease-in-out;
  }
  
  .grant{
    color: var(--my-grant);
  }
  
  
  .grantLink{
    color: var(--my-grant-link);
  }
  
  .lowScreen{
    color: #2c94fc;
  
    visibility: hidden;
    display: none;
  }
  
.interfaceTooltip{
    color: var(--menu-blue);
    display: block;
    width: 100%;
    float: right;
}

  /* --------------------------------------------------------------*/
  /* debug */
  /* --------------------------------------------------------------*/
    
  .question{
    float: right;
  }
  
  .debug{
    border: 3px solid var(--my-grey);
    border-radius: 6px;
    padding: 1vh;
    height: 10.5vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }
  
  .debug:hover{
    border: 3px solid var(--menu-blue);
    /* border-radius: 12px; */
    transition: 0.4s ease-in-out;
  }
.debugItem1{

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}
  
.debugItem2{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3;
}
  
  /* --------------------------------------------------------------*/
  /* main grid*/
  /* --------------------------------------------------------------*/
  .main_container{
    display: grid;
    grid-template-columns: 10fr 2fr 3fr;
    grid-template-rows: 1.1fr 8fr 4fr;
    grid-gap: 20px;
    height: 100vh;
    overflow:auto;
    
    /* grid-template-rows: minmax(0, 500px); */
    /* justify-content: center;
    justify-items: center; */
  }
  
 

.gr{
  box-shadow: var(--my-shadow) 0px 0px 10px 1px;
}

  .table_container{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    box-shadow: var(--my-shadow) 0px 0px 10px 1px;
    transition: 0.4s ease-in-out;
  }
  
  .table_container:hover {
    box-shadow: none;
    transition: 0.4s ease-in-out;
  
  }




  .table2_container{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    box-shadow: var(--my-shadow) 0px 0px 10px 1px;
    transition: 0.4s ease-in-out;
  }

  .table2_container:hover {
    box-shadow: none;
    transition: 0.4s ease-in-out;
  
  }

  


  .table3_container{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    box-shadow: var(--my-shadow) 0px 0px 10px 1px;
    transition: 0.4s ease-in-out;
  }

  .table3_container:hover {
    box-shadow: none;
    transition: 0.4s ease-in-out;
  
  }



  .graph_container {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-bottom: 0;
  }
  
  
  

  
 


  
  .tool_container {
    padding-top: 0vh;
    // display: flex;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  
  .cac_fish_container {
    padding-top: 0vh;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;

    align-items: center; /* Центрирование по вертикали */
    padding-bottom: 0%;
  }


  
  @media screen and (max-width: 720px){
    .main_container{
      
      overflow: scroll;
      display: block;
  
      /* grid-template-columns: 2fr 3fr; */
      /* grid-template-rows: 6fr 2fr 6fr 2fr; */
      /* grid-gap: 5px; */
      /* height: 150vh;
      overflow: scroll; */
  
  
    }
    .lowScreen{
      visibility: visible;
      display: block;
    }

  
    
    .table_container{
     height: 300px;
    }
    
    .graph_container {
      height: 300px;
    }
    
    // .sphere_container {
    //   /* height: 200vh; */
    // }
    
    .table2_container{
      height: 150px;
    }
    

  
  
    .graph_interface{
  
      height: 12vh;
      
    }
  }
  
  @media screen and (max-height: 580px){
    .main_container{
      
      overflow: scroll;
      display: block;
  
      /* grid-template-columns: 2fr 3fr; */
      /* grid-template-rows: 6fr 2fr 6fr 2fr; */
      /* grid-gap: 5px; */
      /* height: 150vh;
      overflow: scroll; */
  
  
    }
    .low-screen{
      visibility: visible;
      display: block;
    }

    
    .table_container{
     height: 300px;
    }
    
    .graph_container {
      height: 300px;
    }
    
    
    .table2_container{
      height: 150px;
    }
    

  
    .graph_interface{
      /* display: block; */
      height: 200px;
      padding: 5px;
    }
  }
  
  
  /* --------------------------------------------------------------*/
  /* intefrace grid*/
  /* --------------------------------------------------------------*/
  
  .sphere_interface{
    border: 3px solid var(--menu-blue);
    border-radius: 6px;
    padding: 10px;
    height: 500px;
    width: 90%;
  
  }
  .sphere_interface:hover{
    border: 3px solid var(--menu-blue);
    /* border-radius: 12px; */
    transition: 0.4s ease-in-out;
  }
  
  .graph_interface{
    height: 52vh;
    width: 97%;
    border: 3px solid var(--my-grey);
    border-radius: 6px;
    padding: auto;
  
    position: relative; 
    
    
  }
  
  .graph_interface:hover{
    border: 3px solid var(--menu-blue);
    /* border-radius: 12px; */
    transition: 0.4s ease-in-out;
  
  }
  
  /* --------------------------------------------------------------*/
  /* INTERFACE */
  /* --------------------------------------------------------------*/
 
  

  
  .graphTooltip{
    color: var(--menu-blue);
    display: block;
    float: right;
  }
  
  

  
  
  
  
  .myTooltip{
  
  }
  
  .tooltipSpan{
    color: var(--my-tooltip);
  }
  
  .MuiTooltipTooltip {
    background-color: var(--my-tooltip-back) !important;
  }
  
  .my-tooltipArrow:before {
    border-bottom-color: green;
  }
  
  